<html>
    <head>
        <style>
            /* CSS styles for the form elements */
            input[type="text"], input[type="file"] {
                margin-bottom: 10px;
                width: 300px;
            }

            input[type="submit"] {
                background-color: #4CAF50;
                color: white;
                padding: 10px 20px;
                border: none;
                cursor: pointer;
            }

            input[type="submit"]:hover {
                background-color: #45a049;
            }
        </style>
    </head>
    <body>
        <form action="/update" method="POST" enctype="multipart/form-data">
            Item ID: <input type="text" name="itemID" value="<%= item.itemID %>"><br>
            Item Name: <input type="text" name="itemName" value="<%= item.itemName %>"><br>
            Item Quantity: <input type="text" name="itemQuantity" value="<%= item.itemQuantity %>"><br>
            Supplier: <input type="text" name="supplier" value="<%= item.supplier %>"><br>
            <input type="file" name="filetoupload"><br>
            <input type="hidden" name="_id" value="<%= item._id %>">
            <input type="submit" value="Update">
        </form>
    </body>
</html>
